<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <%- include partials/_header.ejs%>
</header>
  <table>
    <thead>
      <tr>
        <td>ShortURL</td>
        <td>LongURL</td>
      </tr>
    </thead>
    <tbody>
          <% for (url in urls){ %>
      <tr>
        <td><%= urls[url].shortURL %></td>
        <td><%= urls[url].longURL %></td>
        <td>
          <form method="POST" action="/urls/<%=urls[url].shortURL%>">
          <input type="submit" value="Edit"/>
          </form>
        </td>
        <td> <form method="POST" action="/urls/<%= urls[url].shortURL%>/delete">
          <input type="submit" value="Delete"/>
        </form>
        </td>
      </tr>
      <% } %>
      <tr>
        <td colSpan="2">
          <a href= "/urls/new">New Short Url</a>
        </td>
    </tbody>
  </table>
</body>
</html>