<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <%- include partials/_header.ejs%>
</header>
  <table>
    <thead>
      <tr>
        <td>ShortURL</td>
        <td>LongURL</td>
      </tr>
    </thead>
    <tbody>
          <% urls.forEach(url => { %>
      <tr>
        <td><%= url.shortURL %></td>
        <td><%= url.longURL %></td>
        <td><a href="/urls/<%=url.shortURL%>">Edit</a></td>
        <td> <form method="POST" action="/urls/<%= url.shortURL %>/delete">
          <input type="submit" value="Delete"/>
        </form>
        </td>
      </tr>
      <% }) %>
      <tr>
        <td colSpan="2">
          <a href= "/urls/new">New Short Url</a>
        </td>
    </tbody>
  </table>
</body>
</html>