<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <%- include partials/_header.ejs%>
</header>
  <table>
    <thead>
      <tr>
        <td>Url</td>
        <td>ShortUrl</td>
      </tr>
    </thead>
    <tbody>
      <% for(shortURL in urls){%>
      <tr>
        <td><%=shortURL%></td>
        <td><%=urls[shortURL]%></td>
        <td><a href="/urls/<%=shortURL%>">Edit</a></td>
        <td> <form method="POST" action="/urls/<%=shortURL%>/delete">
          <input type="submit" value="Delete"/>
        </form>
        </td>
      </tr>
      <% } %>
      <tr>
        <td colSpan="2">
          <a href= "/urls/new">New Short Url</a>
        </td>
    </tbody>
  </table>
</body>
</html>